<!DOCTYPE html>

<html>

<head>
    <title>Liberet Wallet</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <div class="credit-charge">
            <form id="credit-recharge">
                Recharge Credits
                <input id="credit-amount" placeholder="Amount">
                <button>Recharge</button>
            </form>
        </div>

        <div id="wallet-history">
            <h2>Wallet history</h2>
        </div>

        <div id="services">
            <h2>Services</h2>
        </div>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>