<!DOCTYPE html>

<html>

<head>
    <title>Liberet Wallet</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>

    <div>
        <form>
            <input id="email" placeholder="email">
            <input id="password" placeholder="password" type="password">
            <button>Submit</button>
        </form>
    </div>

    {{>footer}}

    <script src="/js/login.js"></script>
</body>

</html>